* {
    box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
}
.container {
  box-sizing: border-box;
  margin: 10% 10% 10% 10%
}
.gridsquare {
  box-sizing: border-box;
  display: block;
  background-color: black;
  height: 25vh;
  width: 15vw;
  float: left;
  border: 1px solid white;
  border-spacing: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-collapse: separate;
}

.arow {
  box-sizing: border-box;
  border-collapse: separate;
  display: block;
  height: 25vh;
  width: 15vw;
  float: left;
  border: 1px solid black;
 border-spacing: 5px;
}
